.top-nav {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.row-2 {
  display: flex;

}

.left-box {
  background-color: #ff96c9;
  flex-grow: 1;
}

.article-1 figure {
  border: 1px solid black;
  margin: 0;
  flex-grow: 1;
  text-align: center;
}

.article-1 {
  display:flex;
  justify-content: center;
}

.plastics2 {
  text-align: center;
  width: 400px;
  height: 400;
}

.burnbook {
  text-align: center;
  width: 400px;
  height: 400px;

}

.christmas {
  text-align: center;
  width: 400px;
  height: 400px;
}

.right-box {
  background-color: #ff7cbc;
  flex-grow: 0;
}

.row-3{
  display: flex;
  justify-content: center;
  background-color: #f44198;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #ba3b79;
}
